# ASI:1 LLM API Configuration
ASI_API_KEY=your_asi1_api_key_here
ASI_API_URL=https://api.asi1.ai/v1/chat/completions
ASI_MODEL=asi1-mini

#Brightdata MCP
BRIGHT_DATA_API_KEY=586474d59d6b8ab6cbb7d17a1a7eb7f6e2b541e805a6af6022ee5ade44cff4f4

# Tavily Search API Configuration
TAVILY_API_KEY=your_tavily_api_key_here

# Mapbox Configuration
MAPBOX_API_KEY=your_mapbox_access_token_here

SCOPING_AGENT_URL=http://localhost:8001
RESEARCH_AGENT_URL=http://localhost:8002